In [76]:
from pdfminer.converter import TextConverter
from pdfminer.pdfinterp import PDFPageInterpreter
from pdfminer.pdfinterp import PDFResourceManager
from pdfminer.layout import LAParams
from pdfminer.pdfpage import PDFPage
import spacy
import io
from spacy.matcher import Matcher
import pandas as pd
import re
import docxpy


# load pre-trained model
nlp = spacy.load('en_core_web_sm')

In [77]:
# pdf_path='/home/user8/Desktop/resumes/cv gurdeep singh.docx'
filename='cv gurdeep singh.docx'

In [78]:
# def extract_text_from_pdf(pdf_path):
#     with open(pdf_path, 'rb') as fh:
#         # iterate over all pages of PDF document
#         for page in PDFPage.get_pages(fh, caching=True, check_extractable=True):
#             # creating a resoure manager
#             resource_manager = PDFResourceManager()
            
#             # create a file handle
#             fake_file_handle = io.StringIO()
            
#             # creating a text converter object
#             converter = TextConverter(
#                                 resource_manager, 
#                                 fake_file_handle, 
#                                 codec='utf-8', 
#                                 laparams=LAParams())

#             # creating a page interpreter
#             page_interpreter = PDFPageInterpreter(
#                                 resource_manager, 
#                                 converter)

#             # process current page
#             page_interpreter.process_page(page)
            
#             # extract text
#             text = fake_file_handle.getvalue()
#             yield text

#             # close open handles
#             converter.close()
#             fake_file_handle.close()

In [79]:
# # calling above function and extracting text
# for page in extract_text_from_pdf(pdf_path):
#     text= page

In [80]:
def extract_text_from_docx(filename):
    '''
    Helper function to extract plain text from .docx files
    :param doc_path: path to .docx file to be extracted
    :return: string of extracted text
    '''
    text = docxpy.process(filename)
    return text

In [103]:
text=extract_text_from_docx(filename)
text

'Personal Information:\n\n\n\nName\n\nGurdeep  Singh\n\nContact Information\n\n8727875689\n\nEmail ID\n\ngurdeepraja21395@gmail.com\n\nAddress\n\n#356, Adarsh Nagar, Naya Gaon, Mohali, Punjab\n\nDate Of Birth\n\n21/3/1995\n\nLanguages Known\n\nHindi, English and Punjabi\n\nLinkedIn \n\nwww.linkedin.com/in/gurdeep-singh-56907b162 \n\n   \n\nCAREER OBJECTIVE\n\n I aim to dedicate my skill and strive for perfection, add value and strength to the firm and contribute to the development of organization with impressive performance.\n\n\n\n ACADEMIC QUALIFICATIONS\n\n\n\nQUALIFICATION\n\nUNIVERSITY/  BOARD\n\nINSTITUTE\n\nYEAR OF PASSING\n\n Bcom\n\nPunjab University\n\nPost Graduate Government College, Sector 11, Chandigarh\n\n2015\n\n  12th\n\n\n\nC.B.S.E.\n\nKendriya Vidyalaya No-1,Bhopal\n\n2012\n\n  10th\n\n\n\nC.B.S.E.\n\nKendriya Vidyalaya No-1,Bhopal\n\n2010\n\n \n\nExperience\n\n\n\nI am currently working as a Placement Coordinator and IT Trainer at Regional Centre for Entrepreneurship Development \n\n\n\nRoles and responsibilities:\n\n\n\nTeaching MS Office to the candidates of Tech Mahindra Foundation, Municipal Corporation, Office Administration students.\n\nNew Tie-ups with companies on a daily basis.\n\nSearching for prospective positions in companies for our skill development students.\n\nLooking for prospective candidates according to the company requirements that we receive, and setting up interviews for the same with the skill based candidates.\n\nCoordinating and managing placement drives of all the skill candidates at RCED.\n\nCompleting and processing of all the documents from the candidates (Eg. Offer letter, Acknowledgements etc.)\n\nUpdating follow up of placed candidate on the MIS portal. \n\nArranging the interview with new companies for candidates who in case want to switch their jobs.\n\n\n\n\n\n\n\nPROFESSIONAL QUALIFICATION\n\n\t\n\n\tCompleted 4 months Office Administration Course along with basic IT, Communication Skills, Personality Development from Regional Centre for Entrepreneurship Development, Chandigarh under Tech Mahindra SMART Programme.\n\nCertification in Computer Hardware from Duke Infosys, New Delhi.\n\nCertificate of training in entitled Tally ERP 9 and Excel from SKD Learning Pvt. Ltd.\n\n\n\nEXTRA CURRICULAR ACTIVITIES   \n\n\t\n\n\tParticipated in football competition in Regional games and sports meet organized at K.V Kamp tee, Nagpur\n\n\t Participated in Scouts and Guides.\n\n\tAttended 2 months Football Summer Training Camp in Bhopal, Madhya Pradesh for two consecutive years.\n\n\tPresented Research PPT on “Vacancy Unrealized Rent” a major topic in Cost Accounting during 2nd Year of B.com \n\n\tParticipant in a Marathon Race on “Race Against Drugs” organized by The Kalgidhar  Trust NGO, held on 11th November 2018. The race was about 5 kms long that started and ended at Sukhna Lake, Sector-5, Chandigarh.\n\nIT SKILLS\n\n\n\n\n\nBasic Computer Knowledge.\n\n\n\n\n\nMS-Office, Desktop publishing.\n\nAdvanced Internet Surfing\n\nAdobe Photoshop\n\nOperating and Repairing Computer Hardware \n\n\n\nSTRENGTH\n\n\n\nDedicated \n\nQuick Learner \n\nHigh Interpersonal Skills\n\nAlways eager to get new responsibilities and learn new set of skills.\n\n\n\nHOBBIES\n\n\n\n\tMeditation. \n\n\tListening to Music\n\n\n\nPERSONAL DOSSIER\n\n\n\nFathers Name\n\nMr. Dilbag Singh\n\nGender\n\nMale\n\nMarital Status\n\nUnmarried\n\nNationality\n\nIndian\n\nPermanent Address\n\nVPO. Amballa Jattan Distt. Hoshiarpur (Punjab)\n\n\n\nDECLARATION\n\n\n\nI hereby declare that above the information is true to the best of my knowledge & belief.\n\n\n\n     Date:\n\n                                                                                                                                                    Signature   \n\n                                                                                                                                               (Gurdeep Singh)\n\n   \t                                             \t\t\t\t                                                                                            \n\n                                                                                                                                               \n\n\n\n\n\n\t\t\t\t\t\n\n\n\n\n\n\n\n\n\n\n\n\t\t3'

In [104]:
def extract_mobile_number(text):
    phone = re.findall(re.compile(r'(?:(?:\+?([1-9]|[0-9][0-9]|[0-9][0-9][0-9])\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([0-9][1-9]|[0-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?'), text)
    
    if phone:
        number = ''.join(phone[0])
        if len(number) > 10:
            return '+' + number
        else:
            return number

In [105]:
df = pd.DataFrame(columns=['Name', 'Mobile No.', 'Email','DOB','Education Qualifications','Skills','Total Experience(in months)','Last Position','Competence','competence score'])

In [106]:
res=extract_mobile_number(text)
print(res)
df.loc[1,'Mobile No.']=res
df

8727875689

,Name,Mobile No.,Email,DOB,Education Qualifications,Skills,Total Experience(in months),Last Position,Competence,competence score
1,NaN,8727875689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
def extract_email(text):
    email = re.findall("([^@|\s]+@[^@]+\.[^@|\s]+)", text)
    if email:
        try:
            return email[0].split()[0].strip(';')
        except IndexError:
            return None

In [108]:
df.loc[1,'Email']=extract_email(text)

In [109]:
df

,Name,Mobile No.,Email,DOB,Education Qualifications,Skills,Total Experience(in months),Last Position,Competence,competence score
1,NaN,8727875689,gurdeepraja21395@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
import stanfordnlp

# tokenization
nlp = stanfordnlp.Pipeline(processors = "tokenize,mwt,lemma,pos")
doc=nlp(text)
doc.sentences[1].print_tokens()

Use device: cpu
---
Loading: tokenize
With settings:
{'model_path': '/home/user8/stanfordnlp_resources/en_ewt_models/en_ewt_tokenizer.pt', 'lang': 'en', 'shorthand': 'en_ewt', 'mode': 'predict'}
---
Loading: lemma
With settings:
{'model_path': '/home/user8/stanfordnlp_resources/en_ewt_models/en_ewt_lemmatizer.pt', 'lang': 'en', 'shorthand': 'en_ewt', 'mode': 'predict'}
Building an attentional Seq2Seq model...
Using a Bi-LSTM encoder
Using soft attention for LSTM.
Finetune all embeddings.
[Running seq2seq lemmatizer with edit classifier]
---
Loading: pos
With settings:
{'model_path': '/home/user8/stanfordnlp_resources/en_ewt_models/en_ewt_tagger.pt', 'pretrain_path': '/home/user8/stanfordnlp_resources/en_ewt_models/en_ewt.pretrain.pt', 'lang': 'en', 'shorthand': 'en_ewt', 'mode': 'predict'}
Done loading processors!
---
<Token index=1;words=[<Word index=1;text=Name;lemma=name;upos=NOUN;xpos=NN;feats=Number=Sing>]>

In [112]:
# LEMMATIZATION

def extract_lemma(doc):
    parsed_text = {'word':[], 'lemma':[]}
    for sent in doc.sentences:
        for wrd in sent.words:
            #extract text and lemma
            parsed_text['word'].append(wrd.text)
            parsed_text['lemma'].append(wrd.lemma)
    #return a dataframe
    return pd.DataFrame(parsed_text)

#call the function on doc
extract_lemma(doc)

                           word                       lemma
0                      Personal                    Personal
1                   Information                 information
2                             :                           :
3                          Name                        name
4                       Gurdeep                     Gurdeep
5                         Singh                       Singh
6                       Contact                     contact
7                   Information                 information
8                    8727875689                  8727875689
9                         Email                       email
10                           ID                          id
11   gurdeepraja21395@gmail.com  gurdeepraja21395@gmail.com
12                      Address                     address
13                            #                           #
14                          356                         356
15                            ,                           ,
16                       Adarsh                      Adarsh
17                        Nagar                       Nagar
18                            ,                           ,
19                         Naya                        Naya
20                         Gaon                        Gaon
21                            ,                           ,
22                       Mohali                      Mohali
23                            ,                           ,
24                       Punjab                      Punjab
25                         Date                        date
26                           Of                          of
27                        Birth                       birth
28                    21/3/1995                   21/3/1995
29                    Languages                    language
..                          ...                         ...
498                           (                           (
499                      Punjab                      Punjab
500                           )                           )
501                 DECLARATION                 declaration
502                           I                           I
503                      hereby                      hereby
504                     declare                     declare
505                        that                        that
506                       above                       above
507                         the                         the
508                 information                 information
509                          is                          be
510                        true                        true
511                          to                          to
512                         the                         the
513                        best                        best
514                          of                          of
515                          my                          my
516                   knowledge                   knowledge
517                           &                           &
518                      belief                      belief
519                           .                           .
520                        Date                        date
521                           :                           :
522                   Signature                   Signature
523                           (                           (
524                     Gurdeep                     Gurdeep
525                       Singh                       Singh
526                           )                           )
527                           3                           3

[528 rows x 2 columns]

In [119]:
pos_dict = {
'CC': 'coordinating conjunction','CD': 'cardinal digit','DT': 'determiner',
'EX': 'existential there (like: \"there is\" ... think of it like \"there exists\")',
'FW': 'foreign word','IN':  'preposition/subordinating conjunction','JJ': 'adjective \'big\'',
'JJR': 'adjective, comparative \'bigger\'','JJS': 'adjective, superlative \'biggest\'',
'LS': 'list marker 1)','MD': 'modal could, will','NN': 'noun, singular \'desk\'',
'NNS': 'noun plural \'desks\'','NNP': 'proper noun, singular \'Harrison\'',
'NNPS': 'proper noun, plural \'Americans\'','PDT': 'predeterminer \'all the kids\'',
'POS': 'possessive ending parent\'s','PRP': 'personal pronoun I, he, she',
'PRP$': 'possessive pronoun my, his, hers','RB': 'adverb very, silently,',
'RBR': 'adverb, comparative better','RBS': 'adverb, superlative best',
'RP': 'particle give up','TO': 'to go \'to\' the store.','UH': 'interjection errrrrrrrm',
'VB': 'verb, base form take','VBD': 'verb, past tense took',
'VBG': 'verb, gerund/present participle taking','VBN': 'verb, past participle taken',
'VBP': 'verb, sing. present, non-3d take','VBZ': 'verb, 3rd person sing. present takes',
'WDT': 'wh-determiner which','WP': 'wh-pronoun who, what','WP$': 'possessive wh-pronoun whose',
'WRB': 'wh-abverb where, when','QF' : 'quantifier, bahut, thoda, kam (Hindi)','VM' : 'main verb',
'PSP' : 'postposition, common in indian langs','DEM' : 'demonstrative, common in indian langs'
}

#extract parts of speech
def extract_pos(doc):
    parsed_text = {'word':[], 'pos':[], 'exp':[]}
    for sent in doc.sentences:
        for wrd in sent.words:
            if wrd.pos in pos_dict.keys():
                pos_exp = pos_dict[wrd.pos]
            else:
                pos_exp = 'NA'
            parsed_text['word'].append(wrd.text)
            parsed_text['pos'].append(wrd.pos)
            parsed_text['exp'].append(pos_exp)
    #return a dataframe of pos and text
    return pd.DataFrame(parsed_text)

#extract pos
extract_pos(doc)

                           word    pos                                    exp
0                      Personal     JJ                        adjective 'big'
1                   Information     NN                  noun, singular 'desk'
2                             :      :                                     NA
3                          Name     NN                  noun, singular 'desk'
4                       Gurdeep    NNP       proper noun, singular 'Harrison'
5                         Singh    NNP       proper noun, singular 'Harrison'
6                       Contact     VB                   verb, base form take
7                   Information     NN                  noun, singular 'desk'
8                    8727875689     CD                         cardinal digit
9                         Email     NN                  noun, singular 'desk'
10                           ID     NN                  noun, singular 'desk'
11   gurdeepraja21395@gmail.com    ADD                                     NA
12                      Address     NN                  noun, singular 'desk'
13                            #     NN                  noun, singular 'desk'
14                          356     CD                         cardinal digit
15                            ,      ,                                     NA
16                       Adarsh    NNP       proper noun, singular 'Harrison'
17                        Nagar    NNP       proper noun, singular 'Harrison'
18                            ,      ,                                     NA
19                         Naya    NNP       proper noun, singular 'Harrison'
20                         Gaon    NNP       proper noun, singular 'Harrison'
21                            ,      ,                                     NA
22                       Mohali    NNP       proper noun, singular 'Harrison'
23                            ,      ,                                     NA
24                       Punjab    NNP       proper noun, singular 'Harrison'
25                         Date     NN                  noun, singular 'desk'
26                           Of     IN  preposition/subordinating conjunction
27                        Birth     NN                  noun, singular 'desk'
28                    21/3/1995     CD                         cardinal digit
29                    Languages    NNS                    noun plural 'desks'
..                          ...    ...                                    ...
498                           (  -LRB-                                     NA
499                      Punjab    NNP       proper noun, singular 'Harrison'
500                           )  -RRB-                                     NA
501                 DECLARATION     NN                  noun, singular 'desk'
502                           I    PRP            personal pronoun I, he, she
503                      hereby     RB                 adverb very, silently,
504                     declare    VBP       verb, sing. present, non-3d take
505                        that     IN  preposition/subordinating conjunction
506                       above     IN  preposition/subordinating conjunction
507                         the     DT                             determiner
508                 information     NN                  noun, singular 'desk'
509                          is    VBZ   verb, 3rd person sing. present takes
510                        true     JJ                        adjective 'big'
511                          to     IN  preposition/subordinating conjunction
512                         the     DT                             determiner
513                        best    JJS       adjective, superlative 'biggest'
514                          of     IN  preposition/subordinating conjunction
515                          my   PRP$       possessive pronoun my, his, hers
516                   knowledge     NN                  noun, singular 'desk'
517                           &     CC               coordinating conjunction
518                      belief     NN                  noun, singular 'desk'
519                           .      .                                     NA
520                        Date     NN                  noun, singular 'desk'
521                           :      :                                     NA
522                   Signature     NN                  noun, singular 'desk'
523                           (  -LRB-                                     NA
524                     Gurdeep    NNP       proper noun, singular 'Harrison'
525                       Singh    NNP       proper noun, singular 'Harrison'
526                           )  -RRB-                                     NA
527                           3     LS                         list marker 1)

[528 rows x 3 columns]

In [129]:
doc.sentences[0].print_tokens()

<Token index=1;words=[<Word index=1;text=Personal;lemma=Personal;upos=ADJ;xpos=JJ;feats=Degree=Pos>]>
<Token index=2;words=[<Word index=2;text=Information;lemma=information;upos=NOUN;xpos=NN;feats=Number=Sing>]>
<Token index=3;words=[<Word index=3;text=:;lemma=:;upos=PUNCT;xpos=:;feats=_>]>

In [89]:
df.loc[1,'Name']=extract_name(text)
df

,Name,Mobile No.,Email,DOB,Education Qualifications,Skills,Total Experience(in months),Last Position,Competence,competence score
1,Adarsh Nagar,8727875689,gurdeepraja21395@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
import re
import spacy
from nltk.corpus import stopwords

# load pre-trained model
nlp = spacy.load('en_core_web_sm')

# Grad all general stop words
STOPWORDS = set(stopwords.words('english'))

# Education Degrees
EDUCATION = [
            'BE','B.E.', 'B.E', 'BS', 'B.S', 
            'ME', 'M.E', 'M.E.', 'MS', 'M.S', 
            'BTECH', 'B.TECH', 'M.TECH', 'MTECH', 
            'SSC', 'HSC', 'CBSE', 'ICSE', 'X', 'XII','10th','12th']

def extract_education(text):
    nlp_text = nlp(text)

    # Sentence Tokenizer
    nlp_text = [sent.string.strip() for sent in nlp_text.sents]


    edu = {}
    # Extract education degree
    for index, text in enumerate(nlp_text):
        for tex in text.split():
            # Replace all special symbols
            tex = re.sub(r'[?|$|.|!|,]', r'', tex)
            if tex.upper() in EDUCATION and tex not in STOPWORDS:
                edu[tex] = text + nlp_text[index + 1]

    # Extract year
    education = []
    for key in edu.keys():
        year = re.search(re.compile(r'(((20|19)(\d{2})))'), edu[key])
        if year:
            education.append((key, ''.join(year[0])))
        else:
            education.append(key)
    return education

In [14]:
df.loc[1,'Education Qualifications']=extract_education(text)
df

,Name,Mobile No.,Email,DOB,Education Qualifications,Skills,Total Experience(in months),Last Position,Competence,competence score
1,Sébastien Genty\n\n,+1177133015648,sgenty@me.com,NaN,"[(BS, 2012)]",NaN,NaN,NaN,NaN,NaN

In [15]:
nlp = spacy.load('en_core_web_sm')


def extract_skills(resume_text):
    
    nlp_text = nlp(resume_text)
    noun_chunks = nlp_text.noun_chunks

    # removing stop words and implementing word tokenization
    tokens = [token.text for token in nlp_text if not token.is_stop]
    
    # reading the csv file
    data = pd.read_csv("skills.csv") 
    
    # extract values
    skills = list(data.columns.values)
    
    skillset = []
    
    # check for one-grams (example: python)
    for token in tokens:
        if token.lower() in skills:
            skillset.append(token)
    
    # check for bi-grams and tri-grams (example: machine learning)
    for token in noun_chunks:
        token = token.text.lower().strip()
        if token in skills:
            skillset.append(token)
    
    return [i.capitalize() for i in set([i.lower() for i in skillset])]

In [16]:
df.loc[1,'Skills']=extract_skills(text)
df

,Name,Mobile No.,Email,DOB,Education Qualifications,Skills,Total Experience(in months),Last Position,Competence,competence score
1,Sébastien Genty\n\n,+1177133015648,sgenty@me.com,NaN,"[(BS, 2012)]","[Workflow, C++, English, Marketing, German, An...",NaN,NaN,NaN,NaN

In [17]:
import constants as cs
def extract_entity_sections_grad(text):
    '''
    Helper function to extract all the raw text from sections of resume specifically for 
    graduates and undergraduates
    :param text: Raw text of resume
    :return: dictionary of entities
    '''
    text_split = [i.strip() for i in text.split('\n')]
    # sections_in_resume = [i for i in text_split if i.lower() in sections]
    entities = {}
    key = False
    for phrase in text_split:
        if len(phrase) == 1:
            p_key = phrase
        else:
            p_key = set(phrase.lower().split()) & set(cs.RESUME_SECTIONS_GRAD)
        try:
            p_key = list(p_key)[0]
        except IndexError:
            pass
        if p_key in cs.RESUME_SECTIONS_GRAD:
            entities[p_key] = []
            key = p_key
        elif key and phrase.strip():
            entities[key].append(phrase)
    return entities

In [18]:
experience_list=extract_entity_sections_grad(text)['experience']

In [19]:
experience_list

['Project Director, Socratic Technologies',
 '•  Collaborate with clients to plan, construct, and execute surveys for collecting',
 'insightful data on their business and marketing needs',
 '•  Explore data using advanced mathematical and statistical methods, in order to',
 'identify insights and trends',
 '•  Visualize data and extract insights for client facing deliverables',
 '•  Create market simulators using highly customized applications that incorporate post',
 'survey analytical results to predict comparative sales figures and market share',
 '•  Manage the data collection process by allocating resources, overseeing workflow, and',
 'verifying quality data collection',
 '•  Formulated and built a new survey tool that increased statistical variance in',
 'respondent data, currently in use for multiple clients',
 '•  Established a new model to test the reach, appeal and effectiveness of advertisements',
 'Research Assistant, Bucknell University',
 '•  Independently designed and built an optical set-up to take pictures of Bose-Einstein',
 '•  Created a user interface to control a high-end camera using Visual Basic',
 '•  Coordinated with other research assistants working on different aspects of the same',
 'condensates',
 'experiment',
 '•  Computer model and data analysis done using Matlab and ImageJ',
 'Research Intern, MD Anderson Cancer Center',
 '•  Researched CT dosiometry using a relatively new technique involving x-ray sensitive',
 'film',
 '•  Analyzed data using Matlab and Mathematica',
 'September 2012 - Present',
 'Fall 2011 - Spring 2012',
 'Summer 2011']

In [20]:
def get_total_experience(experience_list):
    '''
    Wrapper function to extract total months of experience from a resume
    :param experience_list: list of experience text extracted
    :return: total months of experience
    '''
    exp_ = []
    for line in experience_list:
        experience = re.search('(?P<fMONTH>\w+.\d+)\s*(\D|to|\-)\s*(?P<sMONTH>\w+.\d+|present)', line, re.I)
        if experience:
            exp_.append(experience.groups())
    total_experience_in_months = sum([get_number_of_months_from_dates(i[0], i[2]) for i in exp_])
    return total_experience_in_months

def get_number_of_months_from_dates(date1, date2):
    '''
    Helper function to extract total months of experience from a resume
    :param date1: Starting date
    :param date2: Ending date
    :return: months of experience from date1 to date2
    '''
    if date2.lower() == 'present':
        date2 = datetime.now().strftime('%b %Y')
    try:
        if len(date1.split()[0]) > 3:
            date1 = date1.split()
            date1 = date1[0][:3] + ' ' + date1[1] 
        if len(date2.split()[0]) > 3:
            date2 = date2.split()
            date2 = date2[0][:3] + ' ' + date2[1]
    except IndexError:
        return 0
    try: 
        date1 = datetime.strptime(str(date1), '%b %Y')
        date2 = datetime.strptime(str(date2), '%b %Y')
        months_of_experience = relativedelta.relativedelta(date2, date1)
        months_of_experience = months_of_experience.years * 12 + months_of_experience.months
    except ValueError:
        return 0
    return months_of_experience

In [21]:
df.loc[1,'Total Experience(in months)']=get_total_experience(experience_list)
df

NameError: name 'datetime' is not defined

In [22]:
def extract_experience(resume_text):
    '''
    Helper function to extract experience from resume text
    :param resume_text: Plain resume text
    :return: list of experience
    '''
    wordnet_lemmatizer = WordNetLemmatizer()
    stop_words = set(stopwords.words('english'))

    # word tokenization 
    word_tokens = nltk.word_tokenize(resume_text)

    # remove stop words and lemmatize  
    filtered_sentence = [w for w in word_tokens if not w in stop_words and wordnet_lemmatizer.lemmatize(w) not in stop_words] 
    sent = nltk.pos_tag(filtered_sentence)

    # parse regex
    cp = nltk.RegexpParser('P: {<NNP>+}')
    cs = cp.parse(sent)
    
    # for i in cs.subtrees(filter=lambda x: x.label() == 'P'):
    #     print(i)
    
    test = []
    
    for vp in list(cs.subtrees(filter=lambda x: x.label()=='P')):
        test.append(" ".join([i[0] for i in vp.leaves() if len(vp.leaves()) >= 2]))

    # Search the word 'experience' in the chunk and then print out the text after it
    x = [x[x.lower().index('experience') + 10:] for i, x in enumerate(test) if x and 'experience' in x.lower()]
    return x

In [23]:
df.loc[1,'Last Position']=extract_experience(text)
df

NameError: name 'WordNetLemmatizer' is not defined

In [24]:
def string_found(string1, string2):
    if re.search(r"\b" + re.escape(string1) + r"\b", string2):
        return True
    return False

def get_score(_dict):
    _len = len(_dict)
    if _len >= 5:
        return 1
    elif _len < 5 and _len > 2:
        return 0.5
    elif _len  == 1:
        return 0.2
    else:
        return 0

In [25]:
def extract_competencies(text, experience_list):
    '''
    Helper function to extract competencies from resume text
    :param resume_text: Plain resume text
    :return: dictionary of competencies
    '''
    experience_text = ' '.join(experience_list)
    competency_dict = {}
    score = 0

    percentage = (100 // len(cs.COMPETENCIES.keys()))

    for competency in cs.COMPETENCIES.keys():
        matches = {}
        for item in cs.COMPETENCIES[competency]:
            if string_found(item, experience_text):
                if competency not in competency_dict.keys():
                    match = re.search(r'([^.|,]*' + item + '[^.|,]*)', experience_text)
                    if item not in matches.keys():
                        matches[item] = [match.group(0)]
                    else:
                        for i in match.groups():
                            matches[item].append(i)    
                    competency_dict[competency] = matches
                else:
                    match = re.search(r'([^.|,]*' + item + '[^.|,]*)', experience_text)
                    if item not in matches.keys():
                        matches[item] = [match.group(0)]
                    else:
                        for i in match.groups():
                            matches[item].append(i)
                    competency_dict[competency] = matches
                score += get_score(competency_dict[competency]) * percentage
    
    competency_dict['score'] = score 
    list=competency_dict.keys()
    return(list)

In [26]:
df.loc[1,'Competence']=extract_competencies(text,experience_list)
df

,Name,Mobile No.,Email,DOB,Education Qualifications,Skills,Total Experience(in months),Last Position,Competence,competence score
1,Sébastien Genty\n\n,+1177133015648,sgenty@me.com,NaN,"[(BS, 2012)]","[Workflow, C++, English, Marketing, German, An...",NaN,NaN,"(teamwork, analytical, leadership, score)",NaN

In [27]:
def extract_competencies_score(text, experience_list):
    '''
    Helper function to extract competencies from resume text
    :param resume_text: Plain resume text
    :return: dictionary of competencies
    '''
    experience_text = ' '.join(experience_list)
    competency_dict = {}
    score = 0

    percentage = (100 // len(cs.COMPETENCIES.keys()))

    for competency in cs.COMPETENCIES.keys():
        matches = {}
        for item in cs.COMPETENCIES[competency]:
            if string_found(item, experience_text):
                if competency not in competency_dict.keys():
                    match = re.search(r'([^.|,]*' + item + '[^.|,]*)', experience_text)
                    if item not in matches.keys():
                        matches[item] = [match.group(0)]
                    else:
                        for i in match.groups():
                            matches[item].append(i)    
                    competency_dict[competency] = matches
                else:
                    match = re.search(r'([^.|,]*' + item + '[^.|,]*)', experience_text)
                    if item not in matches.keys():
                        matches[item] = [match.group(0)]
                    else:
                        for i in match.groups():
                            matches[item].append(i)
                    competency_dict[competency] = matches
                score += get_score(competency_dict[competency]) * percentage
    
    competency_dict['score'] = score 
    return(competency_dict['score'])

In [28]:
df.loc[1,'competence score']=extract_competencies_score(text,experience_list)
df

,Name,Mobile No.,Email,DOB,Education Qualifications,Skills,Total Experience(in months),Last Position,Competence,competence score
1,Sébastien Genty\n\n,+1177133015648,sgenty@me.com,NaN,"[(BS, 2012)]","[Workflow, C++, English, Marketing, German, An...",NaN,NaN,"(teamwork, analytical, leadership, score)",12

In [29]:
df.to_csv(r'/home/user8/Desktop/resume-csv.csv',index=False)

In [30]:
def extract_dob(text):
    
    result=re.findall(r'\d{2}-\d{2}-\d{4}',text)
    
    if result==[]:
        result=re.findall(r'[1-2][9|0][0-9]{2}/([2-9]|1[0-2]?)/[0-3][1-9]',text)
        
        if result==[]:
            result=re.findall(r'([2-9]|1[0-2]?)/[0-3][1-9]/[1-2][9|0][0-9]{2}',text)
            return result
        else:
            return result
    else:
        return result

In [31]:
df.loc[1,'DOB']=extract_dob(text)
df

,Name,Mobile No.,Email,DOB,Education Qualifications,Skills,Total Experience(in months),Last Position,Competence,competence score
1,Sébastien Genty\n\n,+1177133015648,sgenty@me.com,[],"[(BS, 2012)]","[Workflow, C++, English, Marketing, German, An...",NaN,NaN,"(teamwork, analytical, leadership, score)",12

In [32]:
import os

path = ('/home/user8/Desktop/resumes')
x=0
for files in os.listdir(path):
    if files.endswith('.pdf'):
        x+=1
print(x)

4

In [33]:
import os

directory = os.fsencode('/home/user8/Desktop/resumes')

for file in os.listdir(directory):
     filename = os.fsdecode(file)
#      print(filename)
#      print(type(filename))
     pdf_path='/home/user8/Desktop/resumes/'+filename
     print(pdf_path)

/home/user8/Desktop/resumes/Brendan_Herger_Resume.pdf
/home/user8/Desktop/resumes/SGresume.pdf
/home/user8/Desktop/resumes/resume_Meyer.pdf
/home/user8/Desktop/resumes/resume.pdf